# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# ML artifacts
ml/saved_model.pkl
ml/saved_scaler.pkl
ml/saved_model_*.pkl
ml/saved_scaler_*.pkl
ml/saved_meta_*.json

# Node
node_modules/
dist/
.DS_Store

# Vite
frontend/.env
frontend/dist/
